* {
  margin: 0;
  padding: 0;
}

.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 200px;
  border: none;
  border-radius: 6px;
  line-height: 1.25rem;
  padding: 12px 16px;
  background: #005FF9;
  color: white;
}